/* Adjust text size and spacing */
.card {
  margin-bottom: 20px;
  background: #c1edee;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-subtitle{
  font-size: 1rem;
  margin-bottom: 10px;

}

.card-text {
  font-size: 0.8rem;
}

.list-group-item {
  font-size: 0.85rem;
}

.table th,
.table td {
  font-size: 0.9rem;
  border-radius: 0.4rem;
}

