<div class="container-fluid mt-5">
  <div class="row justify-content-center">

    <!-- Add a new appointment form -->
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Add a New Appointment</h2>
          <form #appointmentForm="ngForm" (ngSubmit)="addAppointment()" novalidate>
            <!-- Animal Name -->
            <div class="mb-3">
              <label class="card-subtitle">Animal Name:</label>
              <input type="text" required #animalName="ngModel" [(ngModel)]="newAppointmentData.animalName" name="animalName" class="form-control">
              <div class="text-danger" [class.hide]="animalName.invalid">
                *Animal Name is required.
              </div>
            </div>

            <!-- Doctor Name -->
            <div class="mb-3">
              <label class="card-subtitle">Doctor Name:</label>
              <input type="text" #doctorName="ngModel" [(ngModel)]="newAppointmentData.doctorName" name="doctorName" class="form-control" required>
              <div class="text-danger" [class.hide]="doctorName.invalid">
                *Doctor Name is required.
              </div>
            </div>

            <!-- Appointment Date and Time -->
            <div class="mb-3">
              <label  class="card-subtitle">Appointment Date and Time:</label>
              <input type="datetime-local" #appointmentDateTime="ngModel" [ngModel]="formatDateTime(newAppointmentData.appointmentDateTime)" (ngModelChange)="newAppointmentData.appointmentDateTime = parseDateTime($event)" name="appointmentDateTime" class="form-control" required>
              <div class="text-danger" [class.hide]="appointmentDateTime.invalid">
                Appointment Date and Time are required.
              </div>
            </div>

            <!-- Doctor Services -->
            <div class="mb-3">
              <label class="card-subtitle">Doctor Services:</label>
              <div class="form-check" *ngFor="let service of doctorServices">
                <input class="form-check-input" type="checkbox" id="service{{ service.id }}" [value]="service" [checked]="isSelected(service)" (change)="toggleSelection(service)">
                <label class="form-check-label" for="service{{ service.id }}">
                  {{ service.name }} ({{ service.price | currency }})
                </label>
              </div>
                <div class="text-danger" >
                  *At least one service must be selected.
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Add Appointment</button>
          </form>
        </div>
      </div>
  </div>
</div>
