<div *ngIf="appointments.length > 0; else noAppointments">
  <div class="sort-controls">
    <mat-form-field appearance="fill">
      <mat-label>Sort By</mat-label>
      <mat-select [(value)]="sortField" (selectionChange)="onSortChange(sortField, sortDirection)">
        <mat-option *ngFor="let column of displayedColumns" [value]="column">{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sort Direction</mat-label>
      <mat-select [(value)]="sortDirection" (selectionChange)="onSortChange(sortField, sortDirection)">
        <mat-option value="asc">Ascending</mat-option>
        <mat-option value="desc">Descending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h2>Appointment List</h2>
  <div class="mb-3">
    <label for="filter" class="form-label">Filter:</label>
    <input id="filter" type="text" [(ngModel)]="filterValue" class="form-control" placeholder="Filter appointments">
    <button type="submit" class="btn btn-primary" (click)="applyFilter()">Apply Filter</button>
    <button type="submit" class="btn btn-info" (click)="cancelFilter()">Cancel Filter</button>
  </div>
  <table mat-table [dataSource]="appointments" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef > {{ column | titlecase }} </th>
      <td mat-cell *matCellDef="let appointment" class="align-center">

        <ng-container *ngIf="column === 'appointmentDateTime'; else otherColumn">

          {{ appointment[column] | date: 'dd MMM yyyy, HH:mm' }}
        </ng-container>

        <ng-template #otherColumn>
          {{ appointment[column] }}
        </ng-template>

      </td>
    </ng-container>
    <!-- Add a column for the edit button -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let appointment">
        <button mat-icon-button (click)="openEditDialog(appointment)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns.concat('edit')"></tr>
    <!-- Include the new column in the data rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns.concat('edit');"></tr>


  </table>
  <mat-paginator [length]="10" [pageSize]="5" (page)="onPageChange($event.pageIndex + 1)">
  </mat-paginator>



</div>

<ng-template #noAppointments>
  <p>No appointments available.</p>
</ng-template>

<!-- Add a new appointment form -->
<div>
  <h2>Add a New Appointment</h2>
  <form #appointmentForm="ngForm" (ngSubmit)="addAppointment()" novalidate>
    <!-- Animal Name -->
    <div class="mb-3">
      <label for="animalName" class="form-label">Animal Name:</label>
      <input type="text" id="animalName" [(ngModel)]="newAppointmentData.animalName" name="animalName" class="form-control" required>
        <div class="text-danger">*Animal Name is required.</div>
    </div>

    <!-- Doctor Name -->
    <div class="mb-3">
      <label for="doctorName" class="form-label">Doctor Name:</label>
      <input type="text" id="doctorName" [(ngModel)]="newAppointmentData.doctorName" name="doctorName" class="form-control" required>
        <div class="text-danger">*Doctor Name is required.</div>
    </div>

    <!-- Appointment Date and Time -->
    <div class="mb-3">
      <label for="appointmentDateTime" class="form-label">Appointment Date and Time:</label>
      <input type="datetime-local" id="appointmentDateTime" [ngModel]="formatDateTime(newAppointmentData.appointmentDateTime)" (ngModelChange)="newAppointmentData.appointmentDateTime = parseDateTime($event)" name="appointmentDateTime" class="form-control" required>
        <div class="text-danger">Appointment Date and Time are required.</div>
    </div>

    <!-- Doctor Services -->
    <div class="mb-3">
      <label class="form-label">Doctor Services:</label>
      <div class="form-check" *ngFor="let service of doctorServices">
        <input class="form-check-input" type="checkbox" id="service{{ service.id }}" [value]="service" [checked]="isSelected(service)" (change)="toggleSelection(service)">
        <label class="form-check-label" for="service{{ service.id }}">
          {{ service.name }} ({{ service.price | currency }})
        </label>
      </div>
      <div class="text-danger">
        *At least one service must be selected.
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Add Appointment</button>
  </form>

</div>


